{% assign file_ext = include.file.extname | downcase %}
{% case file_ext %}
  {% when ".pdf" %}
    {% assign file_icon = "solid:file-pdf" %}
  {% when ".jpg", ".jpeg", ".png", ".gif", ".webp", ".svg" %}
    {% assign file_icon = "solid:file-image" %}
  {% when ".ppt", ".pptx" %}
    {% assign file_icon = "solid:file-powerpoint" %}
  {% else %}
    {% assign file_icon = "solid:file-lines" %}
{% endcase %}
<li class="resource-item">
  <p class="resource-item__name">
    {% include icon.html icon=file_icon %}
    <a href="{{ include.file.path | relative_url }}">{% include titleize.html text=include.file.basename %}</a>
  </p>
</li>
