<div class="share-menu" id="share-menu" hidden>
  <p class="share-menu__title" id="share-menu-title">Share</p>
  <ul class="share-menu__list">
    <li>
      <a class="share-menu__link" id="share-link-x" href="#" target="_blank" rel="noopener noreferrer">
        <i class="mentor-card__link-icon fa-brands fa-x-twitter" aria-hidden="true"></i>
        X (Twitter)
      </a>
    </li>
    <li>
      <a class="share-menu__link" id="share-link-facebook" href="#" target="_blank" rel="noopener noreferrer">
        <i class="mentor-card__link-icon fa-brands fa-facebook" aria-hidden="true"></i>
        Facebook
      </a>
    </li>
    <li>
      <a class="share-menu__link" id="share-link-linkedin" href="#" target="_blank" rel="noopener noreferrer">
        <i class="mentor-card__link-icon fa-brands fa-linkedin" aria-hidden="true"></i>
        LinkedIn
      </a>
    </li>
    <li>
      <a class="share-menu__link" id="share-link-email" href="#">
        <i class="mentor-card__link-icon fa-solid fa-link" aria-hidden="true"></i>
        Email
      </a>
    </li>
    <li>
      <button type="button" class="share-menu__link share-menu__copy" id="share-link-copy">
        <i class="mentor-card__link-icon fa-solid fa-link" aria-hidden="true"></i>
        Copy link
      </button>
    </li>
  </ul>
</div>
